In [11]:
import pandas as pd
import os
from openpyxl import load_workbook
import numpy as np
import re
wb1= load_workbook("C:\\Users\\Andris\\Documents\\Szakdoga\\df\\dfveg_latest.xlsx")
sheet1 = wb1.active 

dflatest = pd.DataFrame(sheet1.values)

In [77]:

df = dflatest.iloc[: , 2:]
print(len(df))
df = df[df[8].str.contains(r"(?=.*Malacca)(?=.*Singapore)|SOMS|S0MS", na=False)]
#df = df[df[8].str.contains("SOMS|S0MS|Straits ofMalacca &Singapore|Straitsof Malacca andSingapore|Straits ofMalacca andSingapore|Straits of Malacca and Singapore|Straits of Malacca & Singapore", na=False)]
df.head()

1743

,2,3,4,5,6,7,8,9
40,CAT 3,Lapald Tug boat Singapore 941 2555\n472\n}NC 2...,15/0/2010,2015 hrs,01° 15.4' N,104° 10.9' E,"Singapore Strait VTIS East, Straits of Malacc...",&TUG BOAT &BARGE
57,CAT 2,Britoil ó2 Tug boat Singapore 9352444\n497,28/06/2010,1150 hrs,1° 6.23' N,103° 44.69’ E,"OF Pulau Takong Kecil Lighthouse, Straits of ...",&TUG BOAT
125,CAT 2,AOS Tl30 I\nTug boat Singapore 953 1674\n165\n...,08/12/2010,0428 hrs,01° 12. 15’ N,103° 33.40’ E,Approximately 4.3 nm southeast of Tanjung Pia...,&TUG BOAT &BARGE
129,CAT 2,Surya Wira I Tug boat Indonesia\n9 183233\n10...,23/12/2010,0340 hrs,01° 11.29' N,103° 34.47' E,Approximately 5.6 nm southeast of Tanjung Pia...,&TUG BOAT &BARGE
135,Attempted,Tanker Indonesia 9006904\n53772,22/01/2010,2344 hrs,01° 14.56’ N,104° 05.19' E,Approximately 2.8 nm southwest of Eastern Buo...,&TANKER