In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
import numpy as np
import re

In [56]:
df2007=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2007.csv")
df2008=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2008.csv")
df2009=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2009.csv")
df2010=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2010.csv")
df2011=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2011.csv")
df2012=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2012.csv")
df2013=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2013.csv")
df2014=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2014.csv")
df2015=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2015.csv")
df2016=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2016.csv")
df2017=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2017.csv")
df2018=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2018.csv")
df2019=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2019.csv")
df2020=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2020.csv")
df2021=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2021.csv")
df2022=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2022.csv")
df2023=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2023.csv")
df2024=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\poorper\\Percentage of Poor Population (P0) by Province and Area, 2024.csv")

In [121]:
crime35=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2003-2005.csv")
crime68=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2006-2008.csv")
crime911=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2009-2011.csv")
crime1214=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2012-2014.csv")
crime1517=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2015-2017.csv")
crime1820=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2018-2020.csv")
crime2122=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\crimenum\\Number Of Crime According To Police Territorial Jurisdiction, 2021-2022.csv")

In [124]:
crime=pd.concat([crime35, crime68, crime911, crime1214, crime1517, crime1820, crime2122], axis=1)
terrjur=[]
crime.columns.values[0]="Terrjur"
crime.drop(columns=["Police Territorial Jurisdiction"], inplace=True)
crime=crime.iloc[1: , :]
hea2=[]
hea=crime.iloc[0]
for x in hea:
    hea2.append(str(x))
crime.columns=hea2
crime=crime.iloc[1: , :]
crime.columns.values[0]="Police Territorial Jurisdiction"
crime.drop(crime.iloc[:, 1:6], axis=1, inplace=True)
crime.columns=crime.columns.astype(str)
crime.head()
crime.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\crime_ind.xlsx")

In [125]:
uncert=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\WUIIDN World Uncertainty Index for Indonesia.csv")
u=uncert.T
u=u.iloc[:, 215:]
u.head()
hea2=[]
hea=u.iloc[0]
for x in hea:
    hea2.append(str(x)[:4])
u.columns=hea2
u.head()
u.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\uncertainty.xlsx")

In [128]:
uncert=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\NGDPNSAXDCIDQ nom_gdp_ind.csv")
u=uncert.T
u.head()
hea2=[]
hea=u.iloc[0]
for x in hea:
    hea2.append(str(x)[:4])
u.columns=hea2
u.head()
u.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\NGDPNSAXDCIDQ nom_gdp_ind.xlsx")

In [131]:
uncert=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\NGDPRNSAXDCIDQ  real_gdp_ind.csv")
u=uncert.T
u.head()
hea2=[]
hea=u.iloc[0]
for x in hea:
    hea2.append(str(x)[:4])
u.columns=hea2
u.head()
u.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\NGDPRNSAXDCIDQ  real_gdp_ind.xlsx")

In [ ]:
uncert=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\NGDPRSAXDCIDQ real_gdp_ind_seas_adj.csv")
u=uncert.T
u.head()
hea2=[]
hea=u.iloc[0]
for x in hea:
    hea2.append(str(x)[:4])
u.columns=hea2
u.head()
u.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\NGDPRSAXDCIDQ real_gdp_ind_seas_adj.xlsx")

In [135]:
uncert=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\NGDPSAXDCIDQ nom_gdp_ind_seas_adj.csv")
u=uncert.T
u.head()
hea2=[]
hea=u.iloc[0]
for x in hea:
    hea2.append(str(x)[:4])
u.columns=hea2
u.head()
u.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\NGDPSAXDCIDQ nom_gdp_ind_seas_adj.xlsx")

In [3]:
u6=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2006.csv")
u7=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2007.csv")
u8=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2008.csv")
u9=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2009.csv")
u10=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2010.csv")
u11=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2011.csv")
u12=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2012.csv")
u13=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2013.csv")
u14=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2014.csv")
u15=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2015.csv")
u16=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2016.csv")
u17=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2017.csv")
u18=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2018.csv")
u19=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2019.csv")
u20=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2020.csv")
u21=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2021.csv")
u22=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2022.csv")
u23=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2023.csv")
u24=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\unemp\\Unemployment Rate by Province, 2024.csv")

In [18]:
u6.columns.values[0]="Province"
unem=pd.concat([u6, u7, u8, u9, u10, u11, u12, u13, u14, u15, u16, u17, u18, u19, u20, u21, u22, u23, u24], axis=1)

unem.drop(columns=["38 Province"], inplace=True)
unem=unem.iloc[1: , :]
h1=unem.iloc[0]
h2=unem.iloc[1]
h3=[]
for x in range(len(h1)):
    if str(h1[x])=="nan" and x>0:
        h3.append(h1[x-1])
    else:
        h3.append(h1[x])
unem.columns=h3
unem.columns.values[0]="Province"
unem=unem.iloc[1: , :]
unem.head()
unem.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\unemployment.xlsx")

C:\Users\Andris\AppData\Local\Temp\ipykernel_21324\2833326303.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if str(h1[x])=="nan" and x>0:
C:\Users\Andris\AppData\Local\Temp\ipykernel_21324\2833326303.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  h3.append(h1[x])
C:\Users\Andris\AppData\Local\Temp\ipykernel_21324\2833326303.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  h3.append(h1[x-1])

In [189]:
grdp=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\[2010 Version] Quarterly GRDP At Current Market Price by Industrial Origin in Province All Over Indonesia (Billion Rupiah), 2010-2024.xlsx")

grdp=grdp.loc[(grdp["QUARTERLY GRDP AT CURRENT MARKET PRICE BY INDUSTRIAL ORIGIN IN PROVINCE ALL OVER INDONESIA (BILLION RUPIAH)"].str.isupper()) |(grdp["QUARTERLY GRDP AT CURRENT MARKET PRICE BY INDUSTRIAL ORIGIN IN PROVINCE ALL OVER INDONESIA (BILLION RUPIAH)"]=="A Agriculture, Forestry and Fishing")| (grdp["QUARTERLY GRDP AT CURRENT MARKET PRICE BY INDUSTRIAL ORIGIN IN PROVINCE ALL OVER INDONESIA (BILLION RUPIAH)"]=="Gross Regional Domestic Product")| (grdp["QUARTERLY GRDP AT CURRENT MARKET PRICE BY INDUSTRIAL ORIGIN IN PROVINCE ALL OVER INDONESIA (BILLION RUPIAH)"]=="Industrial Origin")]
grdp.drop(columns=grdp.columns[0], axis=1, inplace=True)

hea=grdp.iloc[0]
hea2=[]
for x in hea:
    if str(x)!="nan":
        ut=str(x)
        hea2.append(ut)
    else:
        hea2.append(ut)
print(hea2)
grdp.columns=hea2
grdp=grdp.iloc[1: , :]
grdp.head()

['Industrial Origin', '2010', '2010', '2010', '2010', '2010', '2011', '2011', '2011', '2011', '2011', '2012', '2012', '2012', '2012', '2012', '2013', '2013', '2013', '2013', '2013', '2014', '2014', '2014', '2014', '2014', '2015', '2015', '2015', '2015', '2015', '2016', '2016', '2016', '2016', '2016', '2017', '2017', '2017', '2017', '2017', '2018', '2018', '2018', '2018', '2018', '2019', '2019', '2019', '2019', '2019', '2020', '2020', '2020', '2020', '2020', '2021', '2021', '2021', '2021', '2021', '2022', '2022', '2022', '2022', '2022', '2023', '2023', '2023', '2023', '2023', '2024', '2024', '2024']

,Industrial Origin,2010,2010,2010,2010,2010,2011,2011,2011,2011,...,2022,2022,2023,2023,2023,2023,2023,2024,2024,2024
2,ACEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"A Agriculture, Forestry and Fishing",6109.556058,6305.234074,6474.597019,6690.187393,25579.574545,6648.093812,6826.509558,7005.118159,7073.801093,...,17416.690363,62298.536006,16198.414406,16984.179396,16846.445454,19727.815116,69756.854373,18219.060435,17370.310303,18149.037059
20,Gross Regional Domestic Product,24664.553537,25128.716234,25682.034693,26069.932363,101545.236827,26158.443849,26711.501347,27443.781192,27903.898861,...,57395.394327,210418.35888,53606.766125,55511.065016,56727.090382,61265.282161,227110.203685,57567.682049,59386.230316,61032.488716
21,SUMATERA UTARA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"A Agriculture, Forestry and Fishing",20659.427555,19762.798518,22154.221056,22984.69683,85561.143959,24370.568892,22698.804227,24683.724887,24103.765783,...,57824.657006,219499.215733,59385.001747,61065.584041,63552.975158,63957.744095,247961.305041,66119.48534,69962.379574,71910.386248

In [190]:
prov=[]
for x in range(len(grdp["Industrial Origin"])):
    value = grdp["Industrial Origin"].iloc[x]

        
    if str(value).isupper():
        ut=str(value)
        
        prov.append(ut)
    else:

        prov.append(ut)
print(prov)
grdp.insert(0, "Province", prov)
grdp.head()

[' ACEH', ' ACEH', ' ACEH', ' SUMATERA UTARA', ' SUMATERA UTARA', ' SUMATERA UTARA', ' SUMATERA BARAT', ' SUMATERA BARAT', ' SUMATERA BARAT', ' RIAU', ' RIAU', ' RIAU', ' JAMBI', ' JAMBI', ' JAMBI', ' SUMATERA SELATAN', ' SUMATERA SELATAN', ' SUMATERA SELATAN', ' BENGKULU', ' BENGKULU', ' BENGKULU', ' LAMPUNG', ' LAMPUNG', ' LAMPUNG', ' KEPULAUAN BANGKA BELITUNG', ' KEPULAUAN BANGKA BELITUNG', ' KEPULAUAN BANGKA BELITUNG', ' KEPULAUAN RIAU', ' KEPULAUAN RIAU', ' KEPULAUAN RIAU', ' DKI JAKARTA', ' DKI JAKARTA', ' DKI JAKARTA', ' JAWA BARAT', ' JAWA BARAT', ' JAWA BARAT', ' JAWA TENGAH', ' JAWA TENGAH', ' JAWA TENGAH', ' DI YOGYAKARTA', ' DI YOGYAKARTA', ' DI YOGYAKARTA', ' JAWA TIMUR', ' JAWA TIMUR', ' JAWA TIMUR', ' BANTEN', ' BANTEN', ' BANTEN', ' BALI', ' BALI', ' BALI', ' NUSA TENGGARA BARAT', ' NUSA TENGGARA BARAT', ' NUSA TENGGARA BARAT', ' NUSA TENGGARA TIMUR', ' NUSA TENGGARA TIMUR', ' NUSA TENGGARA TIMUR', ' KALIMANTAN BARAT', ' KALIMANTAN BARAT', ' KALIMANTAN BARAT', ' KALIMANTAN TENGAH', ' KALIMANTAN TENGAH', ' KALIMANTAN TENGAH', ' KALIMANTAN SELATAN', ' KALIMANTAN SELATAN', ' KALIMANTAN SELATAN', ' KALIMANTAN TIMUR', ' KALIMANTAN TIMUR', ' KALIMANTAN TIMUR', ' KALIMANTAN UTARA', ' KALIMANTAN UTARA', ' KALIMANTAN UTARA', ' SULAWESI UTARA', ' SULAWESI UTARA', ' SULAWESI UTARA', ' SULAWESI TENGAH', ' SULAWESI TENGAH', ' SULAWESI TENGAH', ' SULAWESI SELATAN', ' SULAWESI SELATAN', ' SULAWESI SELATAN', ' SULAWESI TENGGARA', ' SULAWESI TENGGARA', ' SULAWESI TENGGARA', ' GORONTALO', ' GORONTALO', ' GORONTALO', ' SULAWESI BARAT', ' SULAWESI BARAT', ' SULAWESI BARAT', ' MALUKU', ' MALUKU', ' MALUKU', ' MALUKU UTARA', ' MALUKU UTARA', ' MALUKU UTARA', ' PAPUA BARAT', ' PAPUA BARAT', ' PAPUA BARAT', ' PAPUA', ' PAPUA', ' PAPUA']

,Province,Industrial Origin,2010,2010,2010,2010,2010,2011,2011,2011,...,2022,2022,2023,2023,2023,2023,2023,2024,2024,2024
2,ACEH,ACEH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACEH,"A Agriculture, Forestry and Fishing",6109.556058,6305.234074,6474.597019,6690.187393,25579.574545,6648.093812,6826.509558,7005.118159,...,17416.690363,62298.536006,16198.414406,16984.179396,16846.445454,19727.815116,69756.854373,18219.060435,17370.310303,18149.037059
20,ACEH,Gross Regional Domestic Product,24664.553537,25128.716234,25682.034693,26069.932363,101545.236827,26158.443849,26711.501347,27443.781192,...,57395.394327,210418.35888,53606.766125,55511.065016,56727.090382,61265.282161,227110.203685,57567.682049,59386.230316,61032.488716
21,SUMATERA UTARA,SUMATERA UTARA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,SUMATERA UTARA,"A Agriculture, Forestry and Fishing",20659.427555,19762.798518,22154.221056,22984.69683,85561.143959,24370.568892,22698.804227,24683.724887,...,57824.657006,219499.215733,59385.001747,61065.584041,63552.975158,63957.744095,247961.305041,66119.48534,69962.379574,71910.386248

In [191]:
grdp=grdp.loc[~grdp["Industrial Origin"].fillna("").str.isupper()]

In [192]:
q=grdp.columns.tolist()

q2=[]
for x in range(2, len(q)):
    if q[x]!=q[x-1]:
        q2.append("Q1")
        i=2
    else:
        if i!=5:

            q2.append("Q"+str(i))
        else:
            q2.append("Annual")
        i=i+1
q1=['Province', 'Industrial Origin']

qq=q1+q2
print(qq)

['Province', 'Industrial Origin', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3', 'Q4', 'Annual', 'Q1', 'Q2', 'Q3']

In [193]:
grdp.reset_index(drop=True, inplace=True)
grdp.loc[0] =qq
grdp

,Province,Industrial Origin,2010,2010,2010,2010,2010,2011,2011,2011,...,2022,2022,2023,2023,2023,2023,2023,2024,2024,2024
0,Province,Industrial Origin,Q1,Q2,Q3,Q4,Annual,Q1,Q2,Q3,...,Q4,Annual,Q1,Q2,Q3,Q4,Annual,Q1,Q2,Q3
1,ACEH,Gross Regional Domestic Product,24664.553537,25128.716234,25682.034693,26069.932363,101545.236827,26158.443849,26711.501347,27443.781192,...,57395.394327,210418.35888,53606.766125,55511.065016,56727.090382,61265.282161,227110.203685,57567.682049,59386.230316,61032.488716
2,SUMATERA UTARA,"A Agriculture, Forestry and Fishing",20659.427555,19762.798518,22154.221056,22984.69683,85561.143959,24370.568892,22698.804227,24683.724887,...,57824.657006,219499.215733,59385.001747,61065.584041,63552.975158,63957.744095,247961.305041,66119.48534,69962.379574,71910.386248
3,SUMATERA UTARA,Gross Regional Domestic Product,77932.33558,79684.702799,84954.61887,88513.580221,331085.237471,91155.002182,90851.783687,96297.955531,...,250137.894391,955193.092707,251949.509662,260363.092984,267297.406302,271385.39828,1050995.407228,273486.898572,285317.151487,292397.542402
4,SUMATERA BARAT,"A Agriculture, Forestry and Fishing",6601.670706,6863.834496,6873.650422,6938.56827,27277.723894,7121.857832,7384.462035,7923.341795,...,16096.315031,60509.709429,15954.471468,16011.546812,16240.816683,17593.74847,65800.583433,17100.186345,17500.676134,17819.269317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,MALUKU UTARA,Gross Regional Domestic Product,3571.278958,3691.241253,3833.429063,3887.962602,14983.911876,3910.631753,4135.59696,4432.012242,...,19434.711835,70902.611667,19876.019455,21211.724405,21541.129732,22516.483258,85145.35685,20943.602858,23360.183192,22321.259705
64,PAPUA BARAT,"A Agriculture, Forestry and Fishing",1049.383645,1163.863332,1318.922467,1357.388025,4889.557468,1050.752754,1179.657773,1295.510761,...,2250.983735,9538.658598,2247.010978,2377.644169,2459.893187,2488.116066,9572.664401,2341.785529,2366.011176,2433.663908
65,PAPUA BARAT,Gross Regional Domestic Product,8816.193478,10115.350607,11209.358567,11220.769267,41361.67192,9175.185733,10584.90726,12968.377897,...,23601.080143,91292.024835,23929.058183,23999.722301,24444.464001,25302.692046,97675.936531,24843.684238,29403.922622,29560.885173
66,PAPUA,"A Agriculture, Forestry and Fishing",2698.405106,2909.653544,3042.028132,3031.045123,11681.131905,3042.388511,3140.973705,3276.878252,...,6936.556161,27048.509084,6989.027504,7321.128144,7306.011872,7401.042629,29017.210148,7316.131982,7520.219559,7538.68212
67,PAPUA,Gross Regional Domestic Product,25024.33746,24298.063159,29329.654525,32156.121473,110808.176617,29246.477018,28223.157273,27561.02489,...,68598.364636,262519.788224,65295.313169,71080.972634,73239.075273,78287.293289,287902.654365,78077.33567,80020.786031,80424.913021

In [194]:
reg=grdp.loc[grdp["Industrial Origin"]=="Gross Regional Domestic Product"]
fishing=grdp.loc[grdp["Industrial Origin"]=="A Agriculture, Forestry and Fishing"]

sumreg=reg.sum()
sumfishing=fishing.sum()
grdp.loc["Reg total"]=sumreg
grdp.loc["A/F/F total"]=sumfishing
grdp

,Province,Industrial Origin,2010,2010,2010,2010,2010,2011,2011,2011,...,2022,2022,2023,2023,2023,2023,2023,2024,2024,2024
0,Province,Industrial Origin,Q1,Q2,Q3,Q4,Annual,Q1,Q2,Q3,...,Q4,Annual,Q1,Q2,Q3,Q4,Annual,Q1,Q2,Q3
1,ACEH,Gross Regional Domestic Product,24664.553537,25128.716234,25682.034693,26069.932363,101545.236827,26158.443849,26711.501347,27443.781192,...,57395.394327,210418.35888,53606.766125,55511.065016,56727.090382,61265.282161,227110.203685,57567.682049,59386.230316,61032.488716
2,SUMATERA UTARA,"A Agriculture, Forestry and Fishing",20659.427555,19762.798518,22154.221056,22984.69683,85561.143959,24370.568892,22698.804227,24683.724887,...,57824.657006,219499.215733,59385.001747,61065.584041,63552.975158,63957.744095,247961.305041,66119.48534,69962.379574,71910.386248
3,SUMATERA UTARA,Gross Regional Domestic Product,77932.33558,79684.702799,84954.61887,88513.580221,331085.237471,91155.002182,90851.783687,96297.955531,...,250137.894391,955193.092707,251949.509662,260363.092984,267297.406302,271385.39828,1050995.407228,273486.898572,285317.151487,292397.542402
4,SUMATERA BARAT,"A Agriculture, Forestry and Fishing",6601.670706,6863.834496,6873.650422,6938.56827,27277.723894,7121.857832,7384.462035,7923.341795,...,16096.315031,60509.709429,15954.471468,16011.546812,16240.816683,17593.74847,65800.583433,17100.186345,17500.676134,17819.269317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,PAPUA BARAT,Gross Regional Domestic Product,8816.193478,10115.350607,11209.358567,11220.769267,41361.67192,9175.185733,10584.90726,12968.377897,...,23601.080143,91292.024835,23929.058183,23999.722301,24444.464001,25302.692046,97675.936531,24843.684238,29403.922622,29560.885173
66,PAPUA,"A Agriculture, Forestry and Fishing",2698.405106,2909.653544,3042.028132,3031.045123,11681.131905,3042.388511,3140.973705,3276.878252,...,6936.556161,27048.509084,6989.027504,7321.128144,7306.011872,7401.042629,29017.210148,7316.131982,7520.219559,7538.68212
67,PAPUA,Gross Regional Domestic Product,25024.33746,24298.063159,29329.654525,32156.121473,110808.176617,29246.477018,28223.157273,27561.02489,...,68598.364636,262519.788224,65295.313169,71080.972634,73239.075273,78287.293289,287902.654365,78077.33567,80020.786031,80424.913021
Reg total,ACEH SUMATERA UTARA SUMATERA BARAT RIAU JAMBI...,Gross Regional Domestic ProductGross Regional ...,1613494.770675,1686464.423327,1770061.669666,1794112.264945,6864133.128613,1843997.770788,1917831.011078,2031421.872389,...,5002155.83836,19145963.820688,4986734.369749,5100593.751177,5175946.564505,5269952.728817,20533227.414247,5284672.343697,5495991.398053,5568346.260307
A/F/F total,SUMATERA UTARA SUMATERA BARAT RIAU JAMBI SUMA...,"A Agriculture, Forestry and FishingA Agricultu...",222826.634761,231908.156481,252309.150271,223522.340417,930566.281929,250296.712757,254337.641775,280941.172957,...,562662.342034,2316541.12666,606257.873529,635402.128241,653901.771282,597795.559398,2493357.33245,620941.134521,702655.281074,708604.60159

In [195]:
grdp.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Indonesia\\veg\\indgdrp.xlsx")