In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
import numpy as np
import re

In [2]:
#df_ind=pd.concat([dfgrdp, dfuncertainty, dfunemp, dfcpi, dfcrime_fin, dfwb_fin, dfreal_gdp_ind_sa, dfnom_gdp_ind_sa, dfreal_gdp_ind, dfnom_gdp_ind], axis=1)
gdpmal=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\MKTGDPMYA646NWDB.csv")


gdpmal.index=pd.to_datetime(gdpmal["DATE"])
gdpmal.drop(columns="DATE", inplace=True)

gdpmal.columns=["GDP"]
gdpmal.tail()
df=gdpmal
mon = pd.date_range(start=pd.Timestamp('1960-01-01'), end=pd.Timestamp('2023-02-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:

    df2.loc[(df2.index.year == x) & (df2.index.month == 1)]= df.loc[df.index.year == x].values
df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)

gdpmal=df2_fin
gdpmal.tail()

            GDP (linear)    GDP (time)
2022-09-30  4.021084e+11  4.021353e+11
2022-10-31  4.014935e+11  4.015086e+11
2022-11-30  4.008786e+11  4.009022e+11
2022-12-31  4.002637e+11  4.002755e+11
2023-01-31  3.996488e+11  3.996488e+11

In [3]:
unc=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\WUIMYS.csv")
unc.head()
def inter2(df):
 

    df.index=pd.to_datetime(df["DATE"])

    mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-07-31'), freq='M')
    df2= pd.DataFrame(index=mon, columns=df.columns)
    for x in df.index.year:
        for y in df.index.month:
            df2.loc[(df2.index.year == x) & (df2.index.month == y)] = df.loc[(df.index.year == x) & (df.index.month == y)].values

    df2.drop(columns=["DATE"], inplace=True)
    print(df2.tail())
    #interpolation
    df2 = df2.apply(pd.to_numeric, errors='coerce')
    df2_time = df2.interpolate(method='time')
    df2_lin=df2.interpolate(method='linear')
    l=df2_lin.columns
    t=df2_time.columns
    l1=[]
    t1=[]
    for x, y in zip(l, t):
        l1.append("uncertainty (linear)")
        t1.append("uncertainty (time)")
    df2_lin.columns=l1
    df2_time.columns=t1
    df2_fin=pd.concat([df2_lin, df2_time], axis=1)

    return df2_fin


dfuncertainty=inter2(unc)
dfuncertainty.tail()

              WUIMYS
2024-03-31       NaN
2024-04-30  0.069735
2024-05-31       NaN
2024-06-30       NaN
2024-07-31  0.205536

            uncertainty (linear)  uncertainty (time)
2024-03-31              0.092556            0.092556
2024-04-30              0.069735            0.069735
2024-05-31              0.115002            0.115494
2024-06-30              0.160269            0.159777
2024-07-31              0.205536            0.205536

In [4]:
cpi=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\FPCPITOTLZGMYS.csv")
cpi.head()
def inter3(df):


    df.index=pd.to_datetime(df["DATE"])
    df.index
    mon = pd.date_range(start=pd.Timestamp('1960-01-01'), end=pd.Timestamp('2023-01-31'), freq='M')
    df2= pd.DataFrame(index=mon, columns=df.columns)
    for x in df.index.year:

        df2.loc[(df2.index.year == x) & (df2.index.month == 1)]= df.loc[df.index.year == x].values



    df2.drop(columns=["DATE"], inplace=True)
    #interpolation
    df2 = df2.apply(pd.to_numeric, errors='coerce')
    df2_time = df2.interpolate(method='time')
    df2_lin=df2.interpolate(method='linear')
    l=df2_lin.columns
    t=df2_time.columns
    l1=[]
    t1=[]
    for x, y in zip(l, t):
        l1.append(x+ " (linear)")
        t1.append(y+ " (time)")
    df2_lin.columns=l1
    df2_time.columns=t1
    df2_fin=pd.concat([df2_lin, df2_time], axis=1)

    return df2_fin

dfcpi=inter3(cpi)
dfcpi.tail()

            FPCPITOTLZGMYS (linear)  FPCPITOTLZGMYS (time)
2022-09-30                 2.785477               2.788727
2022-10-31                 2.711324               2.713152
2022-11-30                 2.637171               2.640015
2022-12-31                 2.563018               2.564440
2023-01-31                 2.488866               2.488866

In [5]:
ppi=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\ppi.csv")
ppi.index=pd.to_datetime(ppi['date'])
ppi.drop(columns="date", inplace=True)
ppi.head()

            overall  agriculture  mining  manufacturing  electricity  water
date
2010-01-01     98.4         92.7    99.4           98.8         99.8   99.2
2010-02-01     98.4         93.3    97.8           99.0         99.4   99.1
2010-03-01     99.9         96.1   108.6           99.2        100.5   99.2
2010-04-01     99.8         95.3   107.7           99.3         99.7   99.9
2010-05-01     98.6         94.1    91.4           99.8        100.3  101.5

In [6]:
mei=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\mei.csv")
mei.index=pd.to_datetime(mei['date'])
mei.drop(columns="date", inplace=True)
mei.head()

,leading,coincident,lagging,leading_diffusion,coincident_diffusion
date,,,,,
1991-01-01,56.6,44.6,40.2,33.3,80.0
1991-02-01,57.3,45.0,40.5,50.0,80.0
1991-03-01,57.5,44.6,40.4,83.3,80.0
1991-04-01,57.5,45.1,40.0,66.7,60.0
1991-05-01,57.9,45.6,40.7,50.0,80.0

In [7]:
lfs=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\lfs_month.csv")
lfs.index=pd.to_datetime(lfs['date'])
lfs.drop(columns='date', inplace=True)
lfs.head()

,lf,lf_employed,lf_unemployed,lf_outside,p_rate,ep_ratio,u_rate
date,,,,,,,
2010-01-01,12367.9,11931.2,436.7,6927.5,64.1,61.8,3.5
2010-02-01,12059.8,11632.3,427.4,7225.1,62.5,60.3,3.5
2010-03-01,12324.2,11895.9,428.3,6993.0,63.8,61.6,3.5
2010-04-01,12512.0,12133.5,378.5,6894.5,64.5,62.5,3.0
2010-05-01,12197.6,11798.9,398.7,7186.0,62.9,60.9,3.3

In [8]:
anngdp=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\imf-dm-export-20241105.xls")
anngdp.dropna(inplace=True)
anngdp=anngdp.T
anngdp=anngdp.iloc[1:, :]

anngdp.index=pd.to_datetime(anngdp.index, format='%Y')
df=anngdp
mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-01-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:

    df2.loc[(df2.index.year == x) & (df2.index.month == 12)]= df.loc[df.index.year == x].values

df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append("GDP per capita, current prices (Purchasing power parity; international dollars per capita)"+ " (linear)")
    t1.append("GDP per capita, current prices (Purchasing power parity; international dollars per capita)"+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)

df2_fin

,"GDP per capita, current prices (Purchasing power parity; international dollars per capita) (linear)","GDP per capita, current prices (Purchasing power parity; international dollars per capita) (time)"
1980-01-31,NaN,NaN
1980-02-29,NaN,NaN
1980-03-31,NaN,NaN
1980-04-30,NaN,NaN
1980-05-31,NaN,NaN
...,...,...
2023-08-31,37968.165667,37966.177860
2023-09-30,38149.553000,38145.080436
2023-10-31,38330.940333,38329.946430
2023-11-30,38512.327667,38508.849005
2023-12-31,38693.715000,38693.715000

In [9]:
gdp_qtr=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\gdp_qtr_nominal.csv")
gdp_qtr.index=gdp_qtr['date']
gdp_qtr.drop(columns='date', inplace=True)
gdp_qtr_abs=gdp_qtr.loc[gdp_qtr["series"]=="abs"]
gdp_qtr_growth=gdp_qtr.loc[gdp_qtr["series"]=="growth_qoq"]
gdp_qtr_abs.drop(columns='series', inplace=True)
gdp_qtr_growth.drop(columns='series', inplace=True)
gdp_qtr_abs.columns=["nominal gdp"]
gdp_qtr_growth.columns=["nominal gdp growth"]
def inter(df):

    df.index=pd.to_datetime(df.index)

    mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-05-01'), freq='M')
    df2= pd.DataFrame(index=mon, columns=df.columns)
    for x in df.index.year:
        for y in df.index.month:
            df2.loc[(df2.index.year == x) & (df2.index.month == y)] = df.loc[(df.index.year == x) & (df.index.month == y)].values


    #interpolation
    df2 = df2.apply(pd.to_numeric, errors='coerce')
    df2_time = df2.interpolate(method='time')
    df2_lin=df2.interpolate(method='linear')
    l=df2_lin.columns
    t=df2_time.columns
    l1=[]
    t1=[]
    for x, y in zip(l, t):
        l1.append(x+ " (linear)")
        t1.append(y+ " (time)")
    df2_lin.columns=l1
    df2_time.columns=t1
    df2_fin=pd.concat([df2_lin, df2_time], axis=1)

    return df2_fin


gdp_qtr_growth=inter(gdp_qtr_growth)
gdp_qtr_abs=inter(gdp_qtr_abs)
gdp_qtr_abs.tail()

C:\Users\Andris\AppData\Local\Temp\ipykernel_31100\1297886886.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_qtr_abs.drop(columns='series', inplace=True)
C:\Users\Andris\AppData\Local\Temp\ipykernel_31100\1297886886.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_qtr_growth.drop(columns='series', inplace=True)

            nominal gdp (linear)  nominal gdp (time)
2023-12-31         468888.666667       468931.260870
2024-01-31         464970.000000       464970.000000
2024-02-29         467462.333333       467379.255556
2024-03-31         469954.666667       469954.666667
2024-04-30         472447.000000       472447.000000

In [10]:
dfwb=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\Malaysia_WB.xlsx") 



dfwb.drop(columns="Unnamed: 3", inplace=True)
dfwb=dfwb.T

dfwb.columns=dfwb.iloc[0]



dfwb=dfwb.iloc[1:, :]
dfwb.head()

dfwb.index = pd.to_datetime(dfwb.index, format='%Y')
mon = pd.date_range(start=pd.Timestamp('2000-01-01'), end=pd.Timestamp('2024-01-01'), freq='M')
dfwbmon = pd.DataFrame(index=mon, columns=dfwb.columns)
dfwbmon.tail()

for x in dfwb.index.year:

    dfwbmon.loc[(dfwbmon.index.year == x) & (dfwbmon.index.month == 12)] = dfwb.loc[dfwb.index.year == x].values

dfwbmon.tail()

df=dfwbmon

cols=["Population, total", "GNI, Atlas method (current US$)", "GDP (current US$)", "Inflation, GDP deflator (annual %)", "Agriculture, forestry, and fishing, value added (% of GDP)", 
]
df['Population, total'] = df['Population, total'].str.replace(',', '', regex=True).astype(float)
df['GNI, Atlas method (current US$)'] = df['GNI, Atlas method (current US$)'].str.replace(',', '', regex=True).astype(float)
df['GDP (current US$)'] = df['GDP (current US$)'].str.replace(',', '', regex=True).astype(float)
df.drop(columns=[col for col in df if col not in cols], inplace=True)
df = df.apply(pd.to_numeric, errors='coerce')
dfint_time = df.interpolate(method='time')
dfint_lin=df.interpolate(method='linear')
dfwb=pd.concat([dfint_lin, dfint_time], axis=1)

In [11]:
dfpov=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\hh_poverty.csv")
dfpov.head()
dfpov.index=pd.to_datetime(dfpov["date"])
dfpov.drop(columns="date", inplace=True)

dfpov.tail()
df=dfpov
mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2022-02-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:

    df2.loc[(df2.index.year == x) & (df2.index.month == 1)]= df.loc[df.index.year == x].values
df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)

dfpov=df2_fin

In [12]:
dffish=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\OECD.TAD.ARP,DSD_FISH_EMP@DF_FISH_EMPL,+MYS+IDN.A...._T._T.csv")
dffish=dffish.loc[dffish["REF_AREA"]=="MYS"]
cols=["Working domain", "TIME_PERIOD", "OBS_VALUE"]
dffish.drop(columns=[col for col in dffish if col not in cols], inplace=True)
dffish=dffish.pivot(index="TIME_PERIOD", columns='Working domain', values='OBS_VALUE')
dffish.index=pd.to_datetime(dffish.index, format='%Y')
df=dffish

mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2022-01-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:

    df2.loc[(df2.index.year == x) & (df2.index.month == 12)]= df.loc[df.index.year == x].values

df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2=pd.concat([df2_lin, df2_time], axis=1)
dffish=df2

In [13]:
cpi2=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\cpi_2d_strata.csv")
cpi2=cpi2.loc[cpi2["division"]=="overall"]


cpi2_rural=cpi2.loc[cpi2["strata"]=="rural"]
cpi2_rural.index=pd.to_datetime(cpi2_rural["date"])
cpi2_rural.index=pd.to_datetime(cpi2_rural.index, format="%Y")

cpi2_rural.drop(columns=["strata", "date", "division"], inplace=True)

C:\Users\Andris\AppData\Local\Temp\ipykernel_31100\1744703521.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpi2_rural.drop(columns=["strata", "date", "division"], inplace=True)

In [ ]:
#ideje összerakni
#nap!!!
def one(df):
    df.index = df.index.map(lambda x: x.replace(day=1))
    return df

dffish=one(dffish)
dfpov=one(dfpov)
dfcpi=one(dfcpi)
dfwb_fin=one(dfwb)
mei=one(mei)
ppi=one(ppi)
lfs=one(lfs)
df2_fin=one(df2_fin)
cpi2_rural=one(cpi2_rural)

gdp_qtr_growth=one(gdp_qtr_growth)
gdp_qtr_abs=one(gdp_qtr_abs)

gdpmal=one(gdpmal)
dfuncertainty=one(dfuncertainty)

#df_mal=pd.concat([dfcpi, dfuncertainty, dfwb_fin, mei, ppi, lfs, df2_fin, gdp_qtr_growth, gdp_qtr_abs,  gdpmal, dffish, dfpov, cpi2_rural], axis=1)
df_mal=pd.concat([dfcpi, dfuncertainty, dfwb_fin, mei, ppi, lfs, df2_fin,  gdpmal, dffish, dfpov, cpi2_rural], axis=1)
df_mal.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Malaysia\\mal_final.xlsx")