In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
import numpy as np
import re

In [2]:
gdp_qtr=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\M015651.xlsx")
df=gdp_qtr
df=df.iloc[9:, :]
df.columns=df.iloc[0]
df=df.iloc[1:30, :]
df=df.T
df.columns=df.iloc[0]
df=df.iloc[1:, :]
i=[]
for x in df.index:
    s=str(x).split(" ")
    a=s[0]
    b=s[1]
    if b=="1Q":
        i.append(a+"-03-01")
    elif b=="2Q":
        i.append(a+"-06-01")
    elif b=="3Q":
        i.append(a+"-09-01")
    elif b=="4Q":
        i.append(a+"-12-01")
    else:
        i.append(str(x))


df.index=pd.to_datetime(i)
df=df.iloc[::-1]

mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-07-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:
    for y in df.index.month:
        df2.loc[(df2.index.year == x) & (df2.index.month == y)] = df.loc[(df.index.year == x) & (df.index.month == y)].values

df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)
gdp_qtr=df2_fin

In [3]:
unemp_ann=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\M182332.xlsx")
df=unemp_ann
df=df.iloc[9:, :]
df.columns=df.iloc[0]
df=df.iloc[1:3, :]
df=df.T
df.columns=df.iloc[0]
df=df.iloc[1:, :]
df=df.iloc[::-1]
df.index=df.index.to_numpy(int)
df.index=pd.to_datetime(df.index, format="%Y")
df.index

mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-07-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:
    if x!=2024:
        df2.loc[(df2.index.year == x) & (df2.index.month == 7)] = df.loc[df.index.year == x].values
    else:
        df2.loc[(df2.index.year == x) & (df2.index.month == 7)] = df.loc[df.index.year == x].values

df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)
unemp_ann=df2_fin

In [4]:
cpi=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\M212881.xlsx")
df=cpi
df=df.iloc[9:, :]
df.columns=df.iloc[0]
df=df.iloc[1:153, :]
df.tail()

df=df.T
df.columns=df.iloc[0]
df=df.iloc[1:, :]
df.index=pd.to_datetime(df.index)
df=df.iloc[::-1]
df.index
dfcpi=df
dfcpi

C:\Users\Andris\AppData\Local\Temp\ipykernel_1632\4172768544.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index=pd.to_datetime(df.index)

Data Series,All Items,Food,Food Excl Food Serving Services,Bread & Cereals,Rice,Flour,Bread,Noodles & Pasta,Biscuits & Cookies,Cakes & Pastries,...,Spirits & Wine,Beer,Cigarettes,Personal Effects,Jewellery & Watches,Other Personal Effects,Social Services,Other Miscellaneous Services,All Items Less Imputed Rentals On Owner-Occupied Accommodation,All Items Less Accommodation
9,,,,,,,,,,,,,,,,,,,,,
1961-01-01,24.542,21.762,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1961-02-01,24.565,21.777,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1961-03-01,24.585,21.82,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1961-04-01,24.187,21.172,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1961-05-01,24.053,20.967,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,116.574,118.332,116.975,117.711,104.059,107.706,120.998,118.859,121.423,120.307,...,100.576,97.175,118.208,100.381,99.997,100.576,94.211,95.035,116.918,117.081
2024-06-01,116.323,118.361,116.641,117.849,103.349,110.311,121.259,119.387,121.173,120.253,...,103.448,99.142,118.208,98.1,98.4,97.948,94.211,95.009,116.573,116.711
2024-07-01,116.028,118.368,116.54,118.209,104.208,109.095,121.287,117.976,119.647,122.057,...,102.92,98.411,118.208,97.83,98.246,97.618,94.611,95.58,116.166,116.736
2024-08-01,116.829,118.553,117.03,118.12,103.426,109.62,121.588,115.807,120.879,121.934,...,100.972,96.338,118.208,97.933,97.688,98.057,94.611,96.173,117.101,117.153
2024-09-01,117.123,118.693,117.649,118.818,105.534,108.451,121.51,118.496,122.459,122.097,...,101.005,97.865,118.208,96.261,94.446,97.186,94.611,97.276,117.43,117.498

In [5]:
sea=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\M651101.xlsx")
df=sea
df=df.iloc[8:, :]
df.columns=df.iloc[0]
df.columns=df.iloc[0]
df=df.iloc[1:12, :]
df=df.T
df.columns=df.iloc[0]
df=df.iloc[1:, :]
df.index=pd.to_datetime(df.index)
df=df.iloc[::-1]
df.index
dfsea=df
dfsea

C:\Users\Andris\AppData\Local\Temp\ipykernel_1632\1716709094.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index=pd.to_datetime(df.index)

Data Series,Vessel Arrivals (Number),Vessel Arrivals - Shipping Tonnage (Thousand Gross Tonnes),Total Cargo (Thousand Tonnes),Cargo (General) (Thousand Tonnes),Cargo (Bulk) (Thousand Tonnes),Cargo (Oil-In-Bulk) (Thousand Tonnes),Cargo (General & Non-Oil In Bulk) (Thousand Tonnes),Total Container Throughput (Thousand Twenty-Foot Equivalent Units),Bunker Sales (Thousand Tonnes),Singapore Registry Of Ships (End Of Period) - Number (Number),Singapore Registry Of Ships (End Of Period) - '000 GT (Thousand Gross Tonnes)
8,,,,,,,,,,,
1995-01-01,8876,58979,24871.1,13565.7,11305.4,10530.7,14340.4,946.4,1565.3,2672,13260
1995-02-01,7593,53787,22954.8,12275.1,10679.7,10065.8,12889.1,867.4,1333.7,2687,13270
1995-03-01,8610,58441,25394,14176.4,11217.6,10517.3,14876.8,969.5,1511.1,2699,13411
1995-04-01,8483,59352,25076.7,14141.2,10935.4,10233.8,14842.9,960.1,1556.9,2717,13651
1995-05-01,8749,61696,25824.3,14375.2,11449.1,10652.9,15171.4,988.3,1470.1,2743,14140
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-01,10717,267372,54916.8,35151.1,19765.6,16877.8,38039,3537.8,4826.8,3966,103097
2024-06-01,10107,240967,50946.7,32993.6,17953.1,15676.1,35270.6,3353.7,4274.9,3968,103690
2024-07-01,10632,264463,52199.9,34956.4,17243.4,14458.6,37741.3,3574.2,4668.7,3964,104100
2024-08-01,10796,261665,52022.3,34800.4,17222,14695,37327.4,3606.5,4559.5,3962,104630
2024-09-01,10292,247633,49742.1,32224.9,17517.2,14761.1,34981,3292.8,4384.7,3952,105160

In [6]:
#sgcrime=pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\singapore-crime-rate-statistics1.csv")
sgcrime = pd.read_csv("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\singapore-crime-rate-statistics.csv", skiprows=8)
df=sgcrime
df.drop(columns=" Annual % Change", inplace=True)
df.index=pd.to_datetime(df["Date"])
df.drop(columns="Date", inplace=True)
df
mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2022-01-01'), freq='M')
df2= pd.DataFrame(index=mon, columns=df.columns)
for x in df.index.year:
    df2.loc[(df2.index.year == x) & (df2.index.month == 12)] = df.loc[df.index.year == x].values
df2.tail()
df2 = df2.apply(pd.to_numeric, errors='coerce')
df2_time = df2.interpolate(method='time')
df2_lin=df2.interpolate(method='linear')
l=df2_lin.columns
t=df2_time.columns
l1=[]
t1=[]
for x, y in zip(l, t):
    l1.append(x+ " (linear)")
    t1.append(y+ " (time)")
df2_lin.columns=l1
df2_time.columns=t1
df2_fin=pd.concat([df2_lin, df2_time], axis=1)

sgcrime=df2_fin
sgcrime.tail()

,GDP (Billions of US $) (linear),Per Capita (US $) (linear),GDP (Billions of US $) (time),Per Capita (US $) (time)
2021-08-31,0.123733,-32.6400,0.123796,-32.618986
2021-09-30,0.118050,-34.5575,0.118190,-34.510219
2021-10-31,0.112367,-36.4750,0.112398,-36.464493
2021-11-30,0.106683,-38.3925,0.106792,-38.355726
2021-12-31,0.101000,-40.3100,0.101000,-40.310000

In [7]:
unc=pd.read_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\WUISGP.xls")
unc=unc.iloc[9:, :]
unc.columns=unc.iloc[0]
unc=unc.iloc[1:, :]
unc
def inter2(df):
 

    df.index=pd.to_datetime(df["observation_date"])

    mon = pd.date_range(start=df.index.min(), end=pd.Timestamp('2024-08-01'), freq='M')
    df2= pd.DataFrame(index=mon, columns=df.columns)
    for x in df.index.year:
        for y in df.index.month:
            df2.loc[(df2.index.year == x) & (df2.index.month == y)] = df.loc[(df.index.year == x) & (df.index.month == y)].values

    df2.drop(columns=["observation_date"], inplace=True)
    print(df2.tail())
    #interpolation
    df2 = df2.apply(pd.to_numeric, errors='coerce')
    df2_time = df2.interpolate(method='time')
    df2_lin=df2.interpolate(method='linear')
    l=df2_lin.columns
    t=df2_time.columns
    l1=[]
    t1=[]
    for x, y in zip(l, t):
        l1.append("uncertainty (linear)")
        t1.append("uncertainty (time)")
    df2_lin.columns=l1
    df2_time.columns=t1
    df2_fin=pd.concat([df2_lin, df2_time], axis=1)

    return df2_fin


dfuncertainty=inter2(unc)
dfuncertainty.tail()

9             WUISGP
2024-03-31       NaN
2024-04-30         0
2024-05-31       NaN
2024-06-30       NaN
2024-07-31  0.135796

            uncertainty (linear)  uncertainty (time)
2024-03-31              0.022603            0.022603
2024-04-30              0.000000            0.000000
2024-05-31              0.045265            0.045757
2024-06-30              0.090531            0.090039
2024-07-31              0.135796            0.135796

In [8]:
def one(df):
    df.index = df.index.map(lambda x: x.replace(day=1))
    return df

dfuncertainty=one(dfuncertainty)
dfsea=one(dfsea)
dfcpi=one(dfcpi)
sgcrime=one(sgcrime)
gdp_qtr=one(gdp_qtr)
unemp=one(unemp_ann)


df_sg=pd.concat([dfcpi, dfuncertainty, dfsea, dfcpi, sgcrime, gdp_qtr, unemp, dfsea], axis=1)
df_sg.to_excel("C:\\Users\\Andris\\Documents\\Szakdoga\\szószok\\Singapore (idk, kell-e)\\sg_final.xlsx")